 <% if @contest.errors.any? %>
    <div class="alert alert-danger"> 
    <p>There are <%= @contest.errors.count %> errors.</p>
    </div>
    <ul>
      <% @contest.errors.full_messages.each do |message| %>
      <li class="text-danger"> <%= message %> </li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: 'form-control'%>
  </div>
 
  <div class="form-group">
    <%= f.label :contest_type, "Contest Type" %>
    <%= f.text_field :contest_type, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :start %>
    <%= f.datetime_select :start, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :deadline %>
    <%= f.datetime_select :deadline, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :referee_id, "Referee" %>
    <%= f.collection_select(:referee_id, Referee.all, :id, :name, class: 'form-control') %>
  </div>