<h1>Contest Information</h1>

<p>Name: <%= @contest.name %> | <%= link_to "edit", edit_contest_path(@contest) %> </p>
<ul>
  <li>Contest Creator: <%= link_to @contest.user.username, user_path(@contest.user) %></li>
  <li>Contest Type: <%= @contest.contest_type %></li>
  <li>Start Time: <%= distance_of_time_in_words_to_now(@contest.start) %></li>
  <li>Deadline: <%= distance_of_time_in_words_to_now(@contest.deadline) %></li>
  <li>Description: <%= @contest.description %></li>
  <li>Referee: <%= link_to @contest.referee.name, referee_path(@contest.referee) %></li>
</ul>
  