<h1>Referee Information</h1>
<h2><%= @referee.user.username %></h2>

<p><%= @referee.name %> | <%= link_to "edit", edit_referee_path(@referee) %></p>
<ul>
  <li>Rules Url: <%= link_to 'Rules', @referee.rules_url %></li>
  <li>Players per Game: <%= @referee.players_per_game %></li>
</ul>

<p><%= link_to "New Refeee", new_referee_path %></p>