<!DOCTYPE html>
<html>
<head>
  <title>GameContestServer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |level, message| %>
    <div class="alert alert-<%= level %>"><%= message %></div>
  <% end %>
  
  <div class="container">
    <ul class="nav nav-pills">
      <li><a href="#">GameContestServer</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/signup">Signup</a></li>
      <li><a href="#">Edit</a></li>
    </ul>
    <%= yield %>
  </div>

</body>
</html>
